<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>express - cleanArch</title>
</head>
<body>
<h1>welcome to our ejs layouts [views/layouts/layout.ejs]</h1>
<hr>
<%- body %>
<hr>
<h4>2024 @nullcript</h4>
</body>
</html>